:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --commonblack: #2f2f37;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.head {
  color: var(--navy-blue);
}
/* common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* =========header========= */

.top-line {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
  display: block;
}
.burger-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}
.berger-icon {
  display: block;
  fill: var(--commonblack);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.page-header > .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page-header {
  display: flex;
  align-items: center;
}
.logo {
  padding: 16px 0;
  margin-right: 120px;
}
.contacts {
  display: block;
}
.menu-nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 24px 0;
}
.menu-nav-link.current {
  position: relative;
}
.menu-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
.con-link {
  color: var(--slate);
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:hover,
.menu-nav-link:focus,
.con-link:hover,
.con-link:focus,
.menu-nav-link.current,
.mb-con-link.current {
  color: var(--ocean);
}
.con-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .con-list {
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }
  .con-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile_menu {
    display: none;
  }
}
/* mobile-menu */
.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile_menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}
.mb-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mb-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mb-menu-link {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--navy-blue);
}
.mb-menu-link.current {
  color: var(--ocean);
}
.mobile-menu-container > .mobile-menu-close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.mb-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-close {
  width: 24px;
  height: 24px;
  color: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mb-con-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--slate);
}
.mb-menu-link:hover,
.mb-con-link:hover {
  color: var(--iris);
}
.mobile-nav {
  margin-bottom: auto;
}
.mb-social {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--white);
  margin-bottom: 16px;
}
.mb-social-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  margin-top: 48px;
}
.mb-social-icon .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
}
.icon {
  fill: var(--cloud);
}
/* ==========hero========= */
.section {
  padding: 96px 0 96px;
}
.section-hero {
  padding: 72px 0 72px;
}
.section-hero.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
.title {
  color: var(--white);
  font-size: 36px;
  max-width: 216px;
  margin: 0 auto 72px;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--ocean);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0 112px;
  }
  .section-hero.hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office@2x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 768px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0 120px;
  }
  .section-hero {
    padding: 188px 0 188px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .section-hero.hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office@3x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* @media screen (min-resolution: 192dpi) {
  .section-hero.hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office1@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
  }
} */
/* =====Section-dscr====> */
.icon-list {
  display: none;
}
.descr {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 72px;
}
.ls-item {
  width: 100%;
}
.main-descr {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 8px;
}
.description {
  color: var(--slate);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .descr {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .ls-item {
    width: calc((100% - 24px) / 2);
  }
  .main-descr {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    height: 112px;
    background-color: var(--cloud);
    margin-bottom: 8px;
    list-style: none;
    padding: 24px 100px;
  }
  .icon {
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    fill: var(--cloud);
  }
  .main-descr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-bottom: 0;
  }
  .icon-list {
    display: flex;
  }
  .descr .ls-item {
    width: calc((100% - 72px) / 4);
  }
  .descr li:last-child {
    margin-right: 0;
  }
}
/* <===section-description */

/* =====Section Our Team===> */
.section_team {
  background: var(--cloud);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  gap: 72px;
}
.team-dscr {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content .team-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.card-content .team-card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 0;
}
.card-content {
  border: var(--white);
  border-radius: 0 0 4px 4px;
  padding: 32px 0;
  overflow: hidden;
  background: var(--white);
}
.icon {
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}
.social-list-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
}
@media screen and (min-width: 768px) {
  .team {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .social-list-item .link:hover,
  .social-list-item .link:focus {
    background-color: var(--ocean);
  }
  .link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* <=====Section Our Team */
/* OurPortfolio======> */

.active-item {
  display: none;
}
.card-row {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-name .team-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.app-name .team-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 0;
}
.app-name {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.card-row {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .row {
    gap: 72px 24px;
  }
  .card-row {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .row {
    gap: 48px 24px;
  }
  .card-row {
    width: calc((100% - 48px) / 3);
  }
  .card-row {
    box-shadow: none;
  }
  .card-row:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .card-row:hover .active-item {
    transform: translateY(0%);
  }
  .project_card {
    position: relative;
    overflow: hidden;
  }
  .active-item {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active-item {
    display: block;
  }
}
/* <======OurPortfolio */

/* MobileModal======> */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  background: var(--dairy);
  border-radius: 4px;
  padding: 72px 16px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  overflow-y: auto;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  transition: top 0.5s ease;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal > .close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.close {
  width: 24px;
  height: 24px;
  color: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_close {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
}
.modal-title {
  text-align: center;
  color: var(--navy-blue);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal_label {
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
  color: var(--light-slate);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: relative;
}
.form-container {
  margin-bottom: 8px;
}
.last {
  margin-bottom: 16px;
}
.label_checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  gap: 8px;
}
.modal_checkbox {
  margin-bottom: 24px;
}
.label-text {
  display: inline-flex;
  flex-wrap: wrap;
}

.modal-text-input {
  resize: none;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
}
.modal-text-input,
.modal_input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal_input {
  height: 40px;
  padding-left: 38px;
}
.input_container {
  position: relative;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal_input:focus-within,
.modal-text-input:focus-within {
  border-color: #4d5ae5;
}

.modal-text-input::placeholder {
  padding: 8px 16px;
}

.check-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}
.input_check:checked {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.link-checkbox {
  color: var(--iris);
  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  text-decoration: underline;
}
.modal-icon-check {
  width: 10px;
  height: 8px;
  fill: var(--cloud);
}
.input_check:checked + .label_checkbox .check-icon {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
/* modal-tablet */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
  .link-checkbox {
    margin-left: 5px;
  }
  .label-text {
    flex-wrap: nowrap;
  }
}
/* modal-desktop */
@media screen and (min-width: 1158px) {
  .icon_close {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--navy-blue);
  }
  .submit-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close:focus,
  .close:hover,
  .submit-btn:hover,
  .submit-btn:focus {
    background-color: var(--ocean);
    border: none;
  }
  .close:focus .icon_close,
  .close:hover .icon_close {
    fill: var(--white);
    border: none;
  }
}
/* <=======MobileModal*/
/* footer====> */
.page-footer {
  background-color: var(--navy-blue);
  padding: 96px 0 96px;
  margin: 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.main-footer {
  display: flex;
  justify-content: center;
}
.social-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}
.footer-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-foot-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-btn {
  color: var(--white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: var(--iris);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 24px;
  border: none;
  min-width: 165px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}
.subscribe-btn .icon {
  margin-left: 16px;
}
.social-media-item .link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.mail-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  color: var(--white);
  background: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mail-input::placeholder {
  color: var(--white);
}
.form-subscribe {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.subscribe {
  display: inline;
}

@media screen and (min-width: 768px) {
  .container.social-footer {
    padding: 0 108px;
  }
  .footer-logo {
    justify-content: start;
  }
  .social-foot-item {
    text-align: start;
  }
  .social-footer {
    justify-content: start;
    gap: 72px 24px;
  }
  .form-subscribe {
    gap: 24px;
  }
  .mail-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .main_footer {
    margin-right: 120px;
  }
  .social-list-column {
    margin-right: 80px;
  }
  .container.social-footer {
    padding: 0 15px;
    gap: 0;
  }
  .mail-input {
    width: 264px;
  }
  .mail-input::placeholder {
    color: var(--white);
    padding-left: 8px;
  }
  .subscribe-btn .icon {
    margin-left: 16px;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background: var(--ocean);
  }
  .social-media-item .link:hover,
  .social-media-item .link:focus {
    background-color: var(--green);
  }
  .close:focus,
  .close:hover {
    background-color: var(--ocean);
    border: none;
  }
  .close:focus .icon_close,
  .close:hover .icon_close {
    fill: var(--white);
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .page-header > .menu,
  .contacts {
    display: none;
  }
}
